body{
    
   
    margin: 0px;
    padding: 0px;

}
.con1{
    background-color: rgb(59, 25, 25);
    height: 280px;
}
    
   
.b1{
    height: 75px;
    width: 200px;
    background-color: antiquewhite;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 50px;
}
.tx1{
    color: white;
    margin-left: 40%;
}
.b2{
    font-size: 30px; 
    color: white;
    margin-left: 800px;
}
#box1{
    width: 125px;
    height: 125px;
    position: absolute;
    background-color: aliceblue;
    font-size: 75px;
    text-align: center;
    padding-top: 25px;
    top: 210px;
    left: 600px;
}
.t1{
    
    height: 80px;
    width: 200px;
    margin-top: 50px;
    margin-left: 15%;
    font-size: 70px;

}
#b3{
    height: 55px;
    width: 100px;
    background-color: antiquewhite;
    font-size: 30px;
    margin-left: 18%;
    margin-top: 2%;
   
}
#ch1{
    position: absolute; 
    color: white;
    margin-left: 55%;
     margin-top: -120px; 
    font-size: 35px;

}
.last1{
    position: absolute;
    left: 55%;
    color: white;
    top: 70%px;
}
.con2{
background-color: rgb(59, 25, 25);
height: 360px;
}